<h1>Word Repeat Counter</h1>

<p>Count how many times a word is repeated in a sentence!</p>

<form action="/result" method="post">
  <label for="inputSentence">Sentence:</label>
  <input name="inputSentence">

  <label for="inputWord">Word to find:</label>
  <input name="inputWord">

  <button type="submit">Count</button>
</form>
